<div class="bg_grey martb container">    
    <div class="blog_webi bg_white">
        <div class="borbutt">
            <h1 class="heading text-left"><span>{{ heading_title }}</span></h1>
        </div>
        <div class="box-content">
            <div class="box-product row rless">
                <div id="blog" class="owl-carousel owl-theme">
                {% for blog in blogs %}
                    <div class="product-block col-xs-12 cless">
                       <div class="blogshadow row rless">
                        {% if blog.image %}
                            <div class="blog-left col-xs-12 cless">
                                <div class="webi-blog-image">
                                    <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
                                    <div class="blog-post-image-hover"> </div>
                                    <div class="webi_post_hover">
                                        <div class="blog-ic">
                                        <a class="icon zoom" title="Click to view Full Image " href="{{ blog.image }}" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                                        <a class="icon readmore_link" title="all blog" href="{{ all_blogs }}"><i class="fa fa-link"></i></a>
                                    </div>
                                    </div>
                                </div>
                                <div class="date-time blogdt">{{ blog.date_added }}</div>
                            </div>
                        {% endif %}
                            <div class="blog-right col-xs-12 text-left cless">
                                <div class="bs">
                                    <h5>{{ blog.total_comments }} {{ entry_comment }}</h5>
                                    <h4><a href="{{ blog.href }}">{{ blog.title }}</a></h4>
                                    {# <div class="testimg">
                                        {{ blog_demo }}<i class="fa fa-circle"></i>
                                    </div> #}
                                    {# <hr class="blog_hr"> #}
                                    {# <p>{{ blog.description }}</p> #}
                                    <div class="view-blog">
                                        <div class="read-more">
                                            <a href="{{ blog.href }}">{{ text_read_more }}{# <svg class="caearrow" width="12px" height="8px"><use xlink:href="#arrow-carright"></use></svg> #}</a>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!--  <div class="buttons-see-all text-center">
            <button type="button" onclick="location='{{ all_blogs }}';" class="btn btn-primary">{{ button_all_blogs }}</button>
        </div> -->
    </div>
</div>