<div class="container martb">
  <div class="row rless logo-slider">
  <div id="carousel{{ module }}" class="owl-carousel owl-theme">
    {% for banner in banners %}
      <div class="text-center col-xs-12 cless">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}</div>
    {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#carousel{{ module }}').owlCarousel({
      loop:false,
      dots:false,
      nav:false,
      autoplay:true,
      autoplaySpeed:1000,
      responsive:{
          0:{
              items:2
          },
          320:{
              items:2
          },
          400:{
              items:3
          },
          600:{
              items:4
          },
          768:{
              items:5
          },
          992:{
              items:5
          },
          1200:{
              items:6
          },
          1410:{
              items:9
          }
      }
    })
</script>